#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

body {
  font-family: Arial, sans-serif;
  background-color: #2e2e30;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: #a35054;
  margin: 20px 0;
}

form {
  max-width: 600px;
  margin: 0 auto 30px;
  padding: 20px;
  background-color: #493d3d;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.form-label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form input,
.form select,
.form textarea{
  width: 100%;
  padding: 8px;
  border: 1px solid #dfd8d8;
  border-radius: 6px;
  font-size: 16px;
  background-color: #4c3b3b;
  box-sizing: border-box;
}
button {
  background-color: #b34d50;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-prod{
  background-color: unset;
}